/target
/src/day5/
/src/day6/
/src/day7/
/src/day8/
/src/day9/
/src/day10/
/src/day11/
/src/day12/
/src/day13/
/src/day14/
/src/day15/
/src/day16/
/src/day17/
/src/day18/
/src/day19/
/src/day20/
/src/day21/
/src/day22/
/src/day23/
/src/day24/
/src/day25/
/src/day26/
/src/day27/
/src/day28/
/src/day29/
/src/day30/
/src/day31/